[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/glad"]
	path = third_party/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "VPL_gen/third_party/nanort"]
	path = VPL_gen/third_party/nanort
	url = https://github.com/lighttransport/nanort.git
[submodule "test_application/third_party/FindTBB"]
	path = test_application/third_party/FindTBB
	url = https://github.com/justusc/FindTBB.git
